# Capstone Checkin # 2

### Chosen Topic

For my project I have decided to not go with any of my original ideas and instead I have decieded to base my project around predicting bankrupcies.

### Main Goal

I plan to build a classification model to predict whether a company will go bankrupt based on data from companies based in Taiwan and Poland. Performance will be based on accuracy as well as optimizing sensitivity/ reducing false negatives.

### Methods and Models

For my project I plan on using a variety of different classification models to predict bankruptcy. These include logistic regression and neural networks.

### Risks and Assumptions

The major risk for my project is that classes are very unbalanced with a vast majority of companies not going bankrupt, and my model may not be able to greatly improve upon the baseline. The main assumption for my data is the features given in the dataset are the best predictors of bankruptcy.

### Redefined Goals

Since the model is unlikely to make major improvements on the accuracy compared to the baseline, I may decide to focus on having as little false negatives as possible (maybe even 0).

### Data Sources

Both data sets come from Kaggle.com:

https://www.kaggle.com/fedesoriano/company-bankruptcy-prediction

https://www.kaggle.com/bhadaneeraj/bankruptcy-detection?select=Bankruptcy+detection_probelm+statement.docx

### Data

In [2]:
import pandas as pd

In [3]:
df_taiwan = pd.read_csv('data/data.csv')

In [4]:
df_poland = pd.read_csv('data/1year.csv')

In [5]:
df_taiwan.head()

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490

In [6]:
df_taiwan['Bankrupt?'].value_counts(normalize=True)

0    0.967737
1    0.032263
Name: Bankrupt?, dtype: float64

For the Taiwan data set, only 4% of companies went bankrupt, meaning that these classes are extremely unbalanced, and my model can only increase accuracy by 4%.

In [7]:
df_poland.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.20055,0.37951,0.39641,2.0472,32.351,0.38825,0.24976,1.3305,1.1389,0.50494,...,0.121960,0.39718,0.87804,0.001924,8.416,5.1372,82.658,4.4158,7.4277,0
1,0.20912,0.49988,0.47225,1.9447,14.786,0,0.25834,0.99601,1.6996,0.49788,...,0.121300,0.42002,0.85300,0,4.1486,3.2732,107.350,3.4,60.987,0
2,0.24866,0.69592,0.26713,1.5548,-1.1523,0,0.30906,0.43695,1.309,0.30408,...,0.241140,0.81774,0.76599,0.69484,4.9909,3.951,134.270,2.7185,5.2078,0
3,0.081483,0.30734,0.45879,2.4928,51.952,0.14988,0.092704,1.8661,1.0571,0.57353,...,0.054015,0.14207,0.94598,0,4.5746,3.6147,86.435,4.2228,5.5497,0
4,0.18732,0.61323,0.2296,1.4063,-7.3128,0.18732,0.18732,0.6307,1.1559,0.38677,...,0.134850,0.48431,0.86515,0.12444,6.3985,4.3158,127.210,2.8692,7.898,0

In [8]:
df_poland['class'].value_counts(normalize=True)

0    0.963491
1    0.036509
Name: class, dtype: float64

The data from Poland as the exact same problem as the data from Taiwan.

In [9]:
df_poland.isnull().sum()

Attr1     0
Attr2     0
Attr3     0
Attr4     0
Attr5     0
         ..
Attr61    0
Attr62    0
Attr63    0
Attr64    0
class     0
Length: 65, dtype: int64

In [10]:
df_taiwan.isnull().sum()

Bankrupt?                                                   0
 ROA(C) before interest and depreciation before interest    0
 ROA(A) before interest and % after tax                     0
 ROA(B) before interest and depreciation after tax          0
 Operating Gross Margin                                     0
                                                           ..
 Liability to Equity                                        0
 Degree of Financial Leverage (DFL)                         0
 Interest Coverage Ratio (Interest expense to EBIT)         0
 Net Income Flag                                            0
 Equity to Liability                                        0
Length: 96, dtype: int64

Use clusttering on each data set to determine if there are differences for each country.